.dishes {
	padding: 14px 0;
	max-height: 100%; /* Takes up remaining vertical space */
	flex: 1; /* Allows vertical growth */
	padding-bottom: 14px;
}

.dishList {
	padding-bottom: 14px;
	padding-right: 4px;
	max-height: 100%;
	display: flex; /* Uses flexbox for layout */
	flex-direction: column; /* Arranges items vertically */
	overflow-y: auto; /* Enables vertical scrolling */
	overflow-x: hidden;
}

.btnWrapper {
	margin-bottom: 14px;
}
