.menuSectionItem {
	position: relative;
	transition: transform 0.3s ease; /* Smooth drag animation */
	user-select: none; /* Prevents text selection during drag */
	cursor: pointer;
	-webkit-touch-callout: none; /* Prevents iOS context menu on long press */
}

.menuSectionCard {
	padding: 4px;
	position: relative;
	width: 100px;
	height: 100px;
}

.selected {
	border: 2px solid green;
}
